body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
}

p{
    text-align:center; 
    color:green; 
    margin-top:10px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
}

.profile-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profile-buttons button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    background-color: #4a90e2;
    color: white;
    transition: 0.2s;
}

.profile-buttons button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.profile-buttons button:hover:not(:disabled) {
    background-color: #357ab8;
}


.change-photo {
    display: block;
    color: #4a90e2;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
}

.change-photo:hover {
    text-decoration: underline;
}

.profile-card h2 {
    margin-bottom: 20px;
}

.field {
    text-align: left;
    margin-bottom: 15px;
}

.field label {
    font-size: 14px;
}

.field input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #eee;
}
